html {
    font-size: calc(13px + 0.390625vw);
}

body{
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
}

/* =============
HEADER
================*/
header{
    text-align: center;
}
header ul li {
    margin: 10px 0 10px 0;
}
header ul li a {
    color: black;
    text-decoration: none;
}
/*============
banner
==============*/
section.banner{
    text-align: center;
    margin:  0 5vw 0 5vw;
}
section.banner h1 {
    font-size: 2rem;
    font-weight: bold;
    margin: 20px 0 20px 0;
}
section.banner p {
    margin: 10px 0 10px 0;
    line-height: 1.5rem;
}
section.banner button {
    background-color: #FF6464;
    color: white;
    border: none;
    border-radius: 3px ;
    padding: 5px 10px 5px 10px;
    font-size: medium;
}
/*============
post
==============*/
section.post {
    background-color: #EDF7FA;
    padding: 5vw 4vw 5vw 4vw;
}
section.post h2{
    text-align: center;
}
section.post ul li {
    background-color: white;
    margin: 2vw 0 2vw 0;
    padding: 2.8vw 2.8vw 2.8vw 2.8vw;
    box-shadow: 0 2px 2px lightsteelblue;
    border-radius: 4px;
}
section.post ul li h3 {
    font-weight: bold;
    font-size: 1.4rem;
}
section.post ul li p{
    padding: 2vw 0 2vw 0;
    font-size: 1rem;
    
}
/*============
works
==============*/
section.works{
    padding: 5vw 3vw 5vw 3vw;
}
section.works h2{
    text-align: center;
    font-size: 1.3rem;
}
section.works ul li h3{
    font-weight: bold;
    font-size: 1.5rem;
    padding: 5px 0 5px 0;
}
section.works ul li p span{
    background-color: #142850;
    color: white;
    font-weight: bold;
    padding: 3px 6px 3px 6px;
    border-radius: 15px;
}
section.works ul li p.info{
    color: #8695A4;
}
section.works ul li img{
    width: 100%;
}
section.works ul li{
    padding: 10px 0 10px 0;
    border-bottom: 1px solid grey;
    margin: 10px 0 10px 0;
}
section.works ul li p{
    margin: 8px 0 8px 0 ;
    line-height: 1.5rem;
    font-size: 1.2rem;
}

/*============
footer
=============*/

footer{
    text-align: center;
    padding: 30px 0 30px 0;
}
footer nav a{
    color: #21243D ;
    font-size: 2rem;
}